.panel.panel-default
  .panel-heading
    .panel-title
      User
      .pull-right
        = link_to raw(t('edit')), [:edit, user], :class => 'btn btn-primary'
        = link_to raw(t('back',to: "Users")), users_path, :class => 'btn btn-default'
  .panel-body
    .row
      .col-md-8
        %dl.dl-horizontal
          %dt Name
          %dd= user.name
          %dt Email
          %dd= user.email
          %dt Time zone
          %dd= user.time_zone
      .col-md-4
        .pull-right
          %img{src: avatar_url(current_user.email, 200), alt: 'Avatar'}

