-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %img.lb-logo.navbar-brand{src: image_url('littlebits-logo.svg'), alt: 'Littlebits logo'}
    .collapse.navbar-collapse
      .navbar-form.navbar-input-group.navbar-left
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            = link_to raw("My Profile <b class='caret'></b>"), '#',:class => "dropdown-toggle nopjax", 'data-toggle' => 'dropdown'
            %ul.dropdown-menu
              %li= link_to t('my_preferences').html_safe, preferences_user_path(current_user)
              %li= link_to t('my_account').html_safe, edit_user_registration_path
          %li= link_to t('logout').html_safe, destroy_user_session_path, :method=>'delete'
        - elsif !['directories'].include?(controller_name)
          %li= link_to t('join_today').html_safe, new_registration_path(resource_name)
          %li
            = link_to t('login').html_safe, '#new_session', :data => {:toggle => 'modal', :target => '#new_session'}
      %ul.nav.navbar-nav.navbar-left
        - if can? :manage, User
          = render 'layouts/navigation_links'
#new_session.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal', id: 'popup_new_user'}, role: 'form') do |f|
        .modal-header
          %button.close(data-dismiss='modal' aria-hidden='true')
            x
          %h4.modal-title= t('login').html_safe
        .modal-body
          .row
            .col-md-1
            .col-md-10
              = f.input :email, :placeholder => 'Email', :autofocus => true
              = f.input :password, :placeholder => 'Password'
            .col-md-1
        .modal-footer
          = f.button :submit, "Sign in", :class => 'btn btn-primary btn-block'
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            %br/
            = link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-default btn-block'
          - if devise_mapping.confirmable? && controller_name != 'confirmations'
            %br/
            = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'btn btn-default btn-block'
